/target
/bin
/obj
*.db
*.exe
*.dll
.vs/

# ignore configuration files
*.suo
*.user
*.userosscache
*.sln.docstates


# Ignore build and debug artifacts
src/gui-app/ClockBlock.GUI/bin/
src/gui-app/ClockBlock.GUI/obj/
