/target
/bin
/obj
*.db
*.exe
*.dll
.vs/

# ignore configuration files
*.suo
*.user
*.userosscache
*.sln.docstates


# Ignore bin and obj folders for main and test projects
src/gui-app/ClockBlock.GUI/bin/
src/gui-app/ClockBlock.GUI/obj/
src/gui-app/ClockBlock.Tests/bin/
src/gui-app/ClockBlock.Tests/obj/
